POSTGRES_DB=engageops
POSTGRES_USER=engageops
POSTGRES_PASSWORD=change-me
DEVELOPMENT_DATA_EMAIL=demo@engageops.local
DEVELOPMENT_DATA_ORGANISATION=Northstar Demo Workforce
DEVELOPMENT_DATA_PASSWORD=LocalDevelopment1!
